<<<<<<< HEAD
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
} 

.container {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}
main.py-4 {
    padding-top: 79px!important;
}

=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h3{
    font-weight: 600;
}

main.py-4{
    padding-top: 60px !important;
    padding-bottom: 0;
}

@media (min-width: 768px) {
    main.py-4 {
        padding-top: 79px !important;
    }
}
>>>>>>> 6b649fdf8b598d7a6cb7f5d8b3ebb43a30907cf7
