.create-container{
    margin-top: 50px;

    em {
        margin-left: 5px;
        color: crimson;
    }

    i {
        font-size: 10px;
        margin-left: 10px;
        color: crimson;
    }

    .services{
        margin-top: 20px;
    }

    .form-btn{
        width: 130px;
        margin: auto;
        margin-top: 20px;
    }

    label {
        text-transform: capitalize;
    }
    
    input,select{
        margin-bottom: 20px;
    }

    .load-img{
        margin-top: 5px;
    }
}
